<div class="card-header thanhchude">
    <h5 class="dsphd">Phiên hỏi đáp</h5>
</div>
<div class="container-fluid listcauhoi">
    <!-- <div class="top row" ng-init="vm.init()">
        <div class="col-md-2 left">
            <img src="http://qa.uet.vnu.edu.vn/qa/public/img/student.png" alt="">
        </div>
        <div class="col-md-10 right">
            <ul>
                <li><span class="info" ng-model="vm.name"><i class="fas fa-file-signature icon"></i>Tên phiên</span> <a
                        href=""></a></li>
                <li><span class="info" ng-model="vm.name"><i class="fas fa-user-secret icon"></i></i>Chủ tọa</span> <a
                        href=""></a></li>
                <li><span class="info"><i class="far fa-clipboard icon"></i></i>Mô tả</span><a href=""></a></i></li>
                <li><span class="info"><i class="fas fa-calendar-alt icon"></i>Ngày tạo</span><a href=""></a></li>
                <li><span class="info"><i class="fas fa-book icon"></i>Tổng số câu hỏi: </span></li>
            </ul>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img src="http://placehold.jp/256x256.png" alt="stack photo" class="img">
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container" style="border-bottom:1px solid black">
                        <h2>Tên phiên: {{vm.infoadmin.title}}</h2>
                    </div>
                    <hr>
                    <ul class="container details">
                        <li>
                            <p><span class="fas fa-file-signature icon" style="width:50px;"></span>Content:
                                {{vm.infoadmin.content}} </p>
                        </li>
                        <li>
                            <p><span class="fas fa-user-secret icon" style="width:50px;"></span>Chủ tọa:
                                {{vm.infoadmin.name}}</p>
                        </li>
                        <li>
                            <p><span class="fas fa-calendar-alt" style="width:50px;"></span><a >Ngày tạo:
                                    {{vm.infoadmin.date}}</p></a>
                        <li>
                            <p><span class="fas fa-book icon" style="width:50px;"></span><a >Chủ đề:
                                    {{vm.infoadmin.topic}}</p></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="listcauhoi trangchu">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul style="display: flex;margin-bottom: 0;">
                        <li style="width: 55%; text-align: right">
                            <h3 class="panel-title">Danh sách câu hỏi</h3>
                        </li>
                        <li style="width: 45%;">
                            <div class="searchform-wrap">
                                <form name="search" id="searchbox" class="znewsSearch {{a}} mr-auto"
                                    ng-class="{active : check(true)}" target="_blank">
                                    <input type="text" name="s" id="search_keyword"
                                        placeholder="Nhập nội dung cần tìm..." ng-model="searchText">
                                    <button type="submit" id="search_button" ng-model="a" ng-model="count=0"
                                        ng-click="searchclick(count = count + 1)"><span
                                            class="znews-icon ti-search"></span></button>
                                </form>
                            </div>
                        </li>
                    </ul>


                </div>
                <div class="panel-body" ng-init="vm.init()">
                    <form name="outerForm" class="tab-form-demo">

                        <uib-tabset active="activeForm">
                            <uib-tab index="0" heading="Hỏi đáp" >
                                <ng-form name="nestedForm">
                                    <div class="form-group">

                                        <div ng-show="vm.infoadmin.open" class="createquestion" style="width: 110%;
                                        margin-left: -16px;">
                                            <!-- <a><button
                                                    type="button" class="btn btn-primary" ng-click="vm.taocauhoi()">Tạo
                                                    câu hỏi mới</button></a> -->
                                                    <nav class="navbar navbar-expand-lg">

                                                            <ul class="navbar-nav">
                                                              
                                                                <li class="nav-item">
                                                                    <a  ng-click="vm.taocauhoi()" class="nav-link">Tạo câu hỏi mới</a>
                                                                </li>
                                                                
                                                                <li class="nav-item">
                                                                    <a ng-click="vm.khaosat()" class="nav-link">Tham gia khảo sát</a>
                                                                </li>
                                                            </ul>
                                                
                                                    </nav>
                                                </div>
                                        <div class="blockquote row  listcauhoi "
                                            ng-repeat="x in queslist = (vm.listquestion | filter : {content : searchText }) | limitTo:6:6*(currentPage-1)">
                                            <div class="left"><a href="" class="col-md-2"><img
                                                        src="https://source.unsplash.com/QAB-WJcbgJk/60x60" alt=""></a>
                                            </div>

                                            <div class="content col-md-10 right ">
                                                <a ui-sref="root.cauhoi({cauhoiId: {{x.id}}})" class="cauhoidetail"
                                                    style="display: block">{{x.content}}</a>
                                                <a ui-sref="root.thongtin" style="display: block;" class="chutoa">Tên thành viên:
                                                    {{x.name}}</a>
                                                <a class="chutoa">Chủ đề: {{vm.infoadmin.topic}}</a>
                                                <div class="bottom">
                                                    <a><i class="far fa-clock"
                                                            style="margin-right: 5px;"></i>{{x.date}}</a>
                                                    <a><i class="fas fa-comments"
                                                            style="margin-right: 5px;margin-left: 10px;"></i>{{x.countA}} Câu trả
                                                        lời</a>
                                                </div>

                                            </div>
                                            <div ng-show="vm.checkuser(x.auth_Id,vm.iduser)" ng-hide="vm.checkopen(vm.infoadmin.open)">
                                                <button type="button" class="btn btn-success"
                                                    ng-click="vm.delete(x.id)"><i class="fas fa-trash-alt"></i></button>
                                                <button type="button" class="btn btn-danger"
                                                    ng-click="vm.edit(x.content,x.id)"><i
                                                        class="fas fa-edit"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                </ng-form>
                            </uib-tab>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <div class="createquestion"> <a class="nav-link" ui-sref="root.thongke">Thống kê
                                            khảo
                                            sát</a></div>
                                </li>
                            </ul>
                            <ul class="nav nav-tabs" id="myTab" role="tablist" ng-show="vm.checkuser(vm.infoadmin.auth_id,vm.iduser)" ng-hide="vm.checkopen(vm.infoadmin.open)" >
                                <li class="nav-item">
                                    <div class="createquestion"> <a class="nav-link" ui-sref="taokhaosat">Tạo cuộc
                                            khảo sát</a></div>
                                </li>
                            </ul>
                        </uib-tabset>
                    </form>

                </div>
                <nav class="nav pagination" role="navigation">
                    <ul uib-pagination boundary-links="true" total-items="queslist.length" max-size="maxSize"
                        ng-model="currentPage" class="pagination-md" items-per-page="numPerPage"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </nav>
            </div>

        </div>

    </div>