<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <a href="/auth/fb">
        <button type="button" name ="button" >Login</button>
    </a>
</body>
</html>