/* Styles go here */
.episode-list {
	margin-left: 0px;
	list-style: none;
	padding-left: 0;
}

.episode-list-item {
  position: relative;
  float: left;
  clear: left;
}

.episode-image {
	width: 60px;
	float: left;
	padding: 1px 1px 1px 1px;
  border: 1px solid #E8E8EE;
  position: relative;
  z-index: 2;
}

.play-button-svg {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 3px;
	left: 10px;
}

.play-button-svg.ng-enter, .play-button-svg.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
}

.play-button-svg.ng-enter, .play-button-svg.ng-leave.ng-leave-active {
  opacity:0;
}

.play-button-svg.ng-leave, .play-button-svg.ng-enter.ng-enter-active {
  opacity:1;
}

.level1 {
	z-index: 1;
}

.level3 {
	z-index: 3;
}

.pause-button-svg {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 3px;
	left: 10px;
}
