<div class="container" ng-init="vm.init()">
  <div ng-repeat="($indexq,q) in vm.datas">

<div ng-switch="q.q.type">
  <div ng-switch-when="1">
    <div ng-model="vm.alistq1($indexq)" class="content" >
    <h1>Câu:{{$indexq+1}} {{q.q.content}}</h1>
  <canvas  id="bar" class="chart chart-bar" 
  chart-data="data" chart-labels="label" >
</canvas>
</div>
</div>
<div ng-switch-when="2">
    <div ng-model="vm.alistq2($indexq)" class="content">
    <h1>Câu:{{$indexq+1}} {{q.q.content}}</h1>
<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data1" chart-labels="label1">
</canvas> 
</div>
</div>
<div ng-switch-when="3">
    <div class="content">
    <h1>Câu:{{$indexq+1}} {{q.q.content}}</h1>
    <table class="table table-bordered" >
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Content</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <tbody ng-repeat="text in q.alist">
        <tr>
          <td>{{text.id}}</td>
          <td>{{text.content}}</td>
          <td>{{text.count}}</td>
        </tr>
      </tbody>
    </table>
    
   
</div>
</div>
</div>

</div>
</div>
