<div class="container" ng-init="vm.init()">
  <div ng-repeat="($indexq,q) in vm.datas">

<div ng-switch="q.q.type">
  <div ng-switch-when="1">
    <div ng-model="vm.alistq1($indexq)" class="content" >
    <h1>Câu:{{$indexq+1}} {{q.q.content}}</h1>
  <canvas  id="bar" class="chart chart-bar" 
  chart-data="data" chart-labels="label" >
</canvas>
</div>
</div>
<div ng-switch-when="2">
    <div ng-model="vm.alistq2($indexq)" class="content">
    <h1>Câu:{{$indexq+1}} {{q.q.content}}</h1>
<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data1" chart-labels="label1">
</canvas> 
</div>
</div>
</div>
<!-- 
<div ng-switch="q.q.type">
  <div ng-switch-when="1">
    <div  class="content" >
    <h1>Câu:{{$indexq+1}} {{q.q.content}}</h1>
    <div zingchart id="chart-{}" zc-json="vm.alistq1($indexq)" zc-width="100%" zc-height="500px"></div>

</div>
</div>
<div ng-switch-when="2">
    <div ng-model="vm.alistq2($indexq)" class="content">
    <h1>Câu:{{$indexq+1}} {{q.q.content}}</h1>
    <div zingchart id="chart-2" zc-json="vm.alistq2($indexq)" zc-width="100%" zc-height="568px"></div>
</div>
</div>
</div> -->
</div>
</div>
