<div class="modal_class">
        <div class="modal-header">
          <h3>Đổi mật khẩu</h3>
        </div>
        <div class="modal-body">
            <form >
                <div class="form-group">
                    <form class="text-center" style="color: #757575;" action="#!">
      
                        <div class="md-form">
                           <label for="materialLoginFormEmail">Mật khẩu cũ</label>
                          <input type="password" id="materialLoginFormEmail"  class="form-control" ng-model="vm.user.oldpassword">
                      
                       
                         
                        </div>
                        <div class="md-form">
                                <label for="materialLoginFormEmail">Mật khẩu mới</label>
                                <input type="password" id="materialLoginFormEmail"  class="form-control" ng-model="vm.user.password">
                        </div>
                        <div class="md-form">
                                <label for="materialLoginFormEmail">Nhập lại mật khẩu mới</label>
                                <input type="password" id="materialLoginFormEmail"  class="form-control" ng-model="vm.user.confirmpassword">
                        </div>
                      </form>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          
          <button class="btn btn-warning" style="margin-bottom: 0px;"  ng-click="vm.save()">Submit</button>
          <button class="btn btn-warning" ng-click="cancel()">Thoát</button>
        </div>
      </div>