<div class="modal_class">
  <div class="modal-header">
    <h3>Sửa câu hỏi</h3>
  </div>
  <div class="modal-body">
      <form >
          <div class="form-group">
              <form class="text-center" style="color: #757575;" action="#!">

                  <div class="md-form">
                      <span>Tên phiên</span>
                    <input type="text" id="materialLoginFormEmail" placeholder="vm.data.content" class="form-control" ng-model="vm.data.content">
                   
                  </div>
                </form>
          </div>
        </form>
  </div>
  <div class="modal-footer">
    
    <button class="btn btn-warning" style="margin-bottom: 0px;"  ng-click="vm.save()">Submit</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Thoát</button>
  </div>
</div>