
<div class="container-fluid header" ng-init="vm.checklogin()">
  <!-- <nav class="navbar navbar-expand-lg navbar-light  menuheader">
    <div class="img row">
      <a href="" class="col-md-6 img1"><img src="./directive/header/image/uet_logo.png" alt=""></a>

    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto menu">
        <li class="nav-item active">
          <a class="nav-link" ui-sref="root.trangchu" ng-modal="check()">Trang chủ<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  active  quanly">
          <div class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle quanly" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Quản lý
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="dropdown-item" ui-sref="root.myquestion">Câu hỏi của tôi</a>
            </div>
          </div>
        </li>
        <li class="nav-item  active ">
          <div class=" nav-item dropdown" style="float: left">
            <a class=" nav-link dropdown-toggle" data-toggle="dropdown">Chủ đề
              <span class="caret"></span></a>
            <ul class="dropdown-menu" >
              <li><a class="listcauhoi" ui-sref="root.chude({chudeId: 'lichhoc'})"><i class="fas fa-calendar-alt"></i>Lịch học</a></li>
              <li><a class="listcauhoi" ui-sref="root.chude({chudeId: 'giangduong'})"><i class="fas fa-warehouse"></i>Giảng đường</a></li>
              <li><a class="listcauhoi" ui-sref="root.chude({chudeId: 'giangvien'})"><i class="fas fa-user-tie"></i>Giảng viên</a></li>
              <li><a class="listcauhoi" ui-sref="root.chude({chudeId: 'cosovatchat'})"><i class="fas fa-chair"></i>Cơ sở vật chất</a></li>
              <li><a class="listcauhoi" ui-sref="root.chude({chudeId: 'monhoc'})"><i class="fas fa-book-reader"></i>Môn học</a></li>
              <li><a class="listcauhoi" ui-sref="root.chude({chudeId: 'chudekhac'})">Chủ đề khác</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item createquestion" >
          <button>
            <a class="dropdown-item" ng-click="newquestion()">Đặt câu hỏi</a>
          </button>
   </li>
      </ul>
      <div class="searchform-wrap">
        <form name="search" id="searchbox" class="znewsSearch {{a}}" ng-class="{active : check(true)}" target="_blank">
          <input type="text" name="s" id="search_keyword" placeholder="Nhập nội dung cần tìm..." ng-model="searchText">
          <button type="submit" id="search_button" ng-model="a" ng-model="count=0"
            ng-click="searchclick(count = count + 1)"><span class="znews-icon ti-search"></span></button>
        </form>
      </div>
      <div class="nav-item dropdown  mr-auto">
        <div class="nav-link dropdown-toggle icondangnhap" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ui-sref="root.thongtin" ng-init="check()">Thông tin</a>
          <a class="dropdown-item" ng-click="logout()">Đăng xuất</a>
        </div>
      </div>
    </div>
  </nav> -->
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  
  <!-- <script src="./lib/assets/kybarg-bootstrap-dropdown-hover-7e0caab/js/bootstrap-dropdownhover.js"></script>
  <script src="./lib/assets/kybarg-bootstrap-dropdown-hover-7e0caab/js/bootstrap-dropdownhover.min.js"></script>
<link rel="stylesheet" href="./directive/header/1.css"> -->
 <script src="./directive/header/1.js"></script>
 <script src="./directive/header/1.css"></script>

<nav class="navbar navbar-expand-md   navbar-light bg-light" style="padding: 10px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >UET_Q&A</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dmenu">
          <a class="nav-link" ui-sref="root.trangchu" ng-modal="check()">Trang chủ<span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
        Quản lý
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" ui-sref="root.myquestion">Câu hỏi của tôi</a>
      </div>
    </li>
     <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
        Chủ đề
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'lichhoc'})"><i class="fas fa-calendar-alt"></i>Lịch học</a>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'giangduong'})"><i class="fas fa-warehouse"></i>Giảng đường</a>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'giangvien'})"><i class="fas fa-user-tie"></i>Giảng viên</a>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'cosovatchat'})"><i class="fas fa-chair"></i>Cơ sở vật chất</a>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'monhoc'})"><i class="fas fa-book-reader"></i>Môn học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'chudekhac'})">Chủ đề khác</a>
      </div>
    </li>
    <li class="nav-item createquestion" >
        <button>
          <a  class="dropdown-item" ng-click="taophien()" style="color: white;">Tạo phiên hỏi đáp</a>
        </button>
 </li>
    </ul>
    <div class="searchform-wrap" >
      <form name="search" id="searchbox" class="znewsSearch {{a}}" ng-class="{active : check(true)}" target="_blank">
        <input type="text" name="s" id="search_keyword" placeholder="Nhập nội dung cần tìm..." ng-model="searchText">
        <button type="submit" id="search_button" ng-model="a" ng-model="count=0"
          ng-click="searchclick(count = count + 1)"><span class="znews-icon ti-search"></span></button>
      </form>
    </div>
    <div class="nav-item dropdown ">
      <div class="nav-link dropdown-toggle icondangnhap" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" ui-sref="root.thongtin" ng-init="check()">Thông tin</a>
        <a class="dropdown-item" ng-click="logout()">Đăng xuất</a>
      </div>
    </div>
  </div>
</nav>

</div>