
<div class="container-fluid header" ng-init="vm.checklogin()">

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  
  <!-- <script src="./lib/assets/kybarg-bootstrap-dropdown-hover-7e0caab/js/bootstrap-dropdownhover.js"></script>
  <script src="./lib/assets/kybarg-bootstrap-dropdown-hover-7e0caab/js/bootstrap-dropdownhover.min.js"></script>
<link rel="stylesheet" href="./directive/header/1.css"> -->
 <script src="./directive/header/1.js"></script>
 <script src="./directive/header/1.css"></script>

<nav class="navbar navbar-expand-md   navbar-light bg-light" style="padding: 10px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >UET_Q&A</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dmenu">
          <a class="nav-link" ui-sref="root.trangchu" ng-modal="check()">Trang chủ<span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
        Quản lý
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item" ui-sref="root.myquestion">Câu hỏi của tôi</a>
      </div>
    </li>
     <li class="nav-item dropdown dmenu">
      <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
        Chủ đề
      </a>
      <div class="dropdown-menu sm-menu">
        <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'lichhoc'})"><i class="fas fa-calendar-alt"></i>Lịch học</a>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'giangduong'})"><i class="fas fa-warehouse"></i>Giảng đường</a>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'giangvien'})"><i class="fas fa-user-tie"></i>Giảng viên</a>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'cosovatchat'})"><i class="fas fa-chair"></i>Cơ sở vật chất</a>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'monhoc'})"><i class="fas fa-book-reader"></i>Môn học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item listcauhoi" ui-sref="root.chude({chudeId: 'chudekhac'})">Chủ đề khác</a>
      </div>
    </li>
    <li class="nav-item createquestion" ng-show="vm.checkrole()" >
        <button>
          <a  class="dropdown-item" ng-click="taophien()" style="color: white;">Tạo phiên hỏi đáp</a>
        </button>
 </li>
    </ul>
    <div ng-show="vm.checkrole()" class="searchform-wrap" style="     margin-right: 10px;
    border-style: groove;
    border-width: 3px;
    display: inline;">
     <button ui-sref="admin">Admin  <i class="fas fa-sign-out-alt"></i></button>
    </div>
    <div class="nav-item dropdown ">
      <div class="nav-link dropdown-toggle icondangnhap" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" ui-sref="root.thongtin" ng-init="check()">Thông tin</a>
        <a class="dropdown-item" ng-click="logout()">Đăng xuất</a>
      </div>
    </div>
  </div>
</nav>

</div>