<div class="modal_class" ng-init="vm.init()">
  <div class="modal-header">
    <h3>Khảo sát sinh viên</h3>
  </div>
  <form name="form" >
    <div class="modal-body" ng-repeat=" ($listId , list) in vm.list">
      <div class="radio" ng-switch="list.q.type">

        <div class="question">
          <label for="">Câu:{{$listId}} {{list.q.content}} {{list.q.id}}</label>
        </div>
        <div class="custom-control custom-checkbox" ng-switch-when="3"  required>
            <textarea name="text" id="" cols="30" rows="3" style="width: 100%;" ng-model="vm.test[list.q.id]" required >{{vm.test[$listId]}}</textarea>
             </label>
            </div>
        <div  class="answer" ng-repeat="($id,answer) in list.a">
          <div class="custom-control custom-radio" ng-switch-when="1">
            <input type="radio" ng-model="vm.test[list.q.id]" ng-value="{{answer.id}}"  class="custom-control-input"
              id="defaultGroupExample{{answer.id}}" name="groupOfDefaultRadios" required>
            <label class="custom-control-label" for="defaultGroupExample{{answer.id}}">{{answer.content}}  {{answer.id}}
              </label>
          </div>

          <div class="custom-control custom-checkbox" ng-switch-when="2" required>
            <input type="checkbox" ng-model="vm.test[list.q.id][answer.id]" ng-value="{{answer.id}}" class="custom-control-input"
              id="defaultUnchecked{{answer.id}}" >
            <label class="custom-control-label" for="defaultUnchecked{{answer.id}}">{{answer.content}}  {{answer.id}}
           </label>
          </div>

        </div>

      </div>
    </div>


  <div class="modal-footer">

    <button class="btn btn-warning" type="submit" style="margin-bottom: 0px;"  ng-click="form.$valid &&vm.save()" >Submit</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Thoát</button>
  </div>
</form>
</div>