<div class="modal_class" ng-init="vm.init()">
  <div class="modal-header">
    <h3>Khảo sát sinh viên</h3>
  </div>
  <form name="form" ng-submit="vm.save(id)">
    <div class="modal-body" ng-repeat=" ($listId , list) in vm.list">
      <div class="radio" ng-switch="list.q.type">
        <div class="question">
          <label for="">Câu: {{list.q.content}} {{list.q.id}}</label>
        </div>
        <div class="answer" ng-repeat="($id,answer) in list.a">
          <div class="custom-control custom-radio" ng-switch-when="1">
            <input type="radio" ng-model="vm.test[list.q.id]" ng-value="{{answer.id}}"  class="custom-control-input"
              id="defaultGroupExample{{answer.id}}" name="groupOfDefaultRadios" required>
            <label class="custom-control-label" for="defaultGroupExample{{answer.id}}">{{answer.content}}  {{answer.id}}
              </label>
          </div>

          <div class="custom-control custom-checkbox" ng-switch-when="2" required>
            <input type="checkbox" ng-model="vm.test[list.q.id][answer.id]" ng-value="{{answer.id}}" class="custom-control-input"
              id="defaultUnchecked{{answer.id}}" >
            <label class="custom-control-label" for="defaultUnchecked{{answer.id}}">{{answer.content}}  {{answer.id}}
           </label>
          </div>

          <div class="custom-control custom-checkbox" ng-switch-when="3" required>
          <textarea name="" id="" cols="30" rows="5" style="width: 100%;"></textarea>
           </label>
          </div>
          {{aa}}
        </div>

      </div>
    </div>


  <div class="modal-footer">

    <button class="btn btn-warning" type="submit" >Submit</button>
    <button class="btn btn-warning" ng-click="cancel()">Thoát</button>
  </div>
</form>
</div>