<div class="modal_class" >
    <div class="modal-header">
      <h3>Khảo sát sinh viên</h3>
    </div>
    <div class="modal-body">
        <div class="radio">
            <div class="question">
                <label for="">Câu: </label>
            </div>
            <div class="answer">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample1">Option 1</label>
                  </div>
                  
                  <!-- Group of default radios - option 2 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
                    <label class="custom-control-label" for="defaultGroupExample2">Option 2</label>
                  </div>
                  
                  <!-- Group of default radios - option 3 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample3">Option 3</label>
                  </div>
            </div>
        </div>
        <div class="checkbox">
            <div class="question">
                <label for="">Câu: </label>
            </div>
            <div class="answer">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked1">
                    <label class="custom-control-label" for="defaultUnchecked1">Default unchecked</label>
                </div><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked2">
                    <label class="custom-control-label" for="defaultUnchecked2">Default unchecked</label>
                </div><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                    <label class="custom-control-label" for="defaultUnchecked3">Default unchecked</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      
      <button class="btn btn-warning" ng-click="vm.save()">Submit</button>
      <button class="btn btn-warning" ng-click="cancel()">Thoát</button>
    </div>
  </div>