<div class="container-fluid searchtrangchu">
    <div class="hoverimg">
        <form autocomplete="off" method="get" class="search-form clearfix" id="search-form">
            <input type="text" ng-model="searchText" title="* Please enter a search term!" style="width: 90%;"
                placeholder="Nhập câu hỏi cần tìm" class="search-term " autocomplete="off">
            <input type="submit" value="Tìm kiếm" class="search-btn">
        </form>
    </div>
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{vm.countuser}} Thành viên</div>
                        </div>
                        <!-- <div class="col-auto">
                            <i class="material-icons" style="font-size:48px; color :grey">person</i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tổng số phiên hỏi đáp
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" ng-model="vm.sumphien"
                                style="color: #000000;">{{vm.sumphien}} Phiên</div>
                        </div>
                        <!-- <div class="col-auto">
                            <i class="material-icons" style="font-size:48px; color :grey">assignment</i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Số phiên hỏi đáp đang
                                hoạt động</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" ng-model="vm.sophienhd"
                                        style="color: #000000;">{{vm.phiendong.length}} Phiên</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" ng-style="{width: (vm.phienhoatdong.length*100)/vm.sumphien + '%'}"
                                            aria-valuenow="vm.phienhoatdong.length" aria-valuemin="0" aria-valuemax="{{vm.sumphien}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-auto">
                            <i class="material-icons" style="font-size:48px; color :grey">assignment_turned_in</i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Tổng số câu hỏi</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" ng-model="vm.sumques"
                                style="color: #000000;">{{vm.sumques}} Câu hỏi</div>
                        </div>
                        <!-- <div class="col-auto">
                            <i class="material-icons" style="font-size:48px; color :grey">question_answer</i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid trangchu" ng-init="init()">
    <div class="row">
        <div class="col-md-2">
            <script src="./main/trangchu/1.js"></script>



            <div class="panel panel-default chude">
                <div class="panel-heading" style="text-align: center">
                    <h3 class="panel-title">Chủ đề</h3>
                </div>
                <div class="">
                    <ul>
                        <li><a class="listcauhoi1" ui-sref="root.chude({chudeId: 1})"><i
                                    class="fas fa-calendar-alt"></i>Lịch học</a></li>
                        <li><a class="listcauhoi1" ui-sref="root.chude({chudeId: 2})"><i
                                    class="fas fa-warehouse"></i>Giảng đường</a></li>
                        <li><a class="listcauhoi1" ui-sref="root.chude({chudeId: 3})"><i
                                    class="fas fa-user-tie"></i>Giảng viên</a></li>
                        <li><a class="listcauhoi1" ui-sref="root.chude({chudeId: 4})"><i
                                    class="fas fa-chair"></i>Cơ sở vật chất</a></li>
                        <li><a class="listcauhoi1" ui-sref="root.chude({chudeId: 5})"><i
                                    class="fas fa-book-reader"></i>Môn học</a></li>
                        <li><a class="listcauhoi1" ui-sref="root.chude({chudeId: 6})">Chủ đề khác</a></li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="col-md-10" ng-init="vm.init()" >
                <div class="container-fluid chude" ng-init="vm.listsection()">
                    <div class="listcauhoi trangchu">
                        
                        <div class="panel panel-default">
                              <div class="panel-heading" >
                                    <h3 class="panel-title" ng-if="vm.checktopicnull()==1">{{vm.topic}}</h3>
                                    <h3 class="panel-title" ng-if="vm.checktopicnull()==0">Chủ đề này trống</h3>
                              </div>
                              <div class="panel-body" ng-repeat="x in vm.datas">
                                <div class="blockquote row" ng-if="x.open==0" ng-style="{'opacity': ' 0.5'}">
                                    <div class="left"><a href="" class="col-lg-2"><img src="https://source.unsplash.com/QAB-WJcbgJk/60x60"
                                                alt=""></a></div>
                    
                                                <div class="content col-lg-10 right ">
                                                    <div class="content">
                                                        <a ui-sref="root.listcauhoi({listsectionId: {{x.id}}})"
                                                            class="cauhoidetail"
                                                            style="display: block">{{x.title}}</a>
                                                        <a ui-sref="root.thongtin" style="display: block;"
                                                            class="chutoa">Chủ tọa: {{x.name}}</a>
                                                        <a  style="display: block;"
                                                            class="chutoa">Mô tả: {{x.content}}</a>
                                                        <a class="chutoa">Chủ đề: {{x.topic}}</a>
                                                        <div class="bottom">
                                                            <a><i class="far fa-clock" 
                                                                   ></i>{{x.date}}</a>
                                                            <a><i class="fas fa-comments"
                                                                  ></i>{{x.countQ}}
                                                                Câu hỏi</a>
                                                        </div>
                                                    </div>

                                                </div>
                                </div>
                                <div class="blockquote row" ng-if="x.open==1">
                                    <div class="left"><a href="" class="col-lg-2"><img src="https://source.unsplash.com/QAB-WJcbgJk/60x60"
                                                alt=""></a></div>
                    
                                                <div class="content col-lg-10 right ">
                                                    <div class="content">
                                                        <a ui-sref="root.listcauhoi({listsectionId: {{x.id}}})"
                                                            class="cauhoidetail"
                                                            style="display: block">{{x.title}}</a>
                                                        <a ui-sref="root.thongtin" style="display: block;"
                                                            class="chutoa">Chủ tọa: {{x.name}}</a>
                                                        <a  style="display: block;"
                                                            class="chutoa">Mô tả: {{x.content}}</a>
                                                        <a class="chutoa">Chủ đề: {{x.topic}}</a>
                                                        <div class="bottom">
                                                            <a><i class="far fa-clock" 
                                                                   ></i>{{x.date}}</a>
                                                            <a><i class="fas fa-comments"
                                                                  ></i>{{x.countQ}}
                                                                Câu hỏi</a>
                                                        </div>
                                                    </div>

                                                </div>
                                </div>
                            
                              </div>
                        </div>
                
                    </div>
                </div>

        </div>

    </div>
</div>