<div id="wrapper" ng-init="vm.init()">
    <link rel="stylesheet" href="./admin/lib/vendor/datatables/dataTables.bootstrap4.css">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" ui-sref="admin">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Quản lí web </div>
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->


      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        Chi tiết
      </div>
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" ui-sref="admin">
          <i class="fas fa-fw fa-table"></i>
          <span>Users</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ui-sref="section">
            <i class="fas fa-fw fa-table"></i>
            <span>Phiên hỏi đáp</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ui-sref="question">
            <i class="fas fa-fw fa-table"></i>
            <span>Lịch sử</span></a>
      </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <div class="container-fluid">

          <!-- Page Heading -->
          <ul><li style="    text-align: center;
            ">
            <p class="h3 mb-2 text-gray-800">Users</p>
          </li>
        <li style="    position: absolute;
        right: 11px;
        top: 3px;">
        <button ui-sref="root.trangchu" type="button" class="btn btn-mdb-color"><i style="color: white;" class="fas fa-door-open">Q-A_UET</i></button>
     
        </li>
        </ul>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Quản lí Users</h6>
            </div>
            <form name="outerForm" class="tab-form-demo">
              <uib-tabset active="activeForm" id="thanhconcuadmin">
                <uib-tab index="0" heading="Danh sách câu hỏi">
                  <ng-form name="nestedForm">
                    <div class="form-group">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>ID Câu hỏi</th>
                                <th>Người tạo</th>
                                <th>Ngày tạo</th>
                                <th>Số câu trả lời</th>
                                <th>Số like</th>
                                <th>Tool</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr ng-repeat="x in  vm.listQ">
                                <td>{{x.id}}</td>
                                <td>{{x.name}}</td>
                                <td >{{x.date}} </td>
                                <td>{{x.countA}}</td>
                                <td>{{x.count_like}}</td>
                                <td style="text-align: center;
                                padding: 0;">
                                  <button type="button" class="btn btn-light-blue" ng-click="vm.deletequestion(x.id)">Xóa</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </ng-form>
                </uib-tab>
                <uib-tab index="1" heading="Danh sách câu trả lời">
                  <ng-form name="nestedForm">
                    <div class="form-group">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>ID Câu trả lời</th>
                                <th>Nội dung</th>
                                <th>Người tạo</th>
                                <th>Ngày tạo</th>
                                <th>Email</th>
                                <th>Chức vụ</th>
                                <th>Username</th>
                                <th>Tool</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr ng-repeat="x in  vm.answers">
                                <td>{{x.id}}</td>
                                <td>{{x.content}}</td>
                                <td>{{x.date}}</td>
                                <td>{{x.name}}</td>
                                <td >{{x.email}} </td>
                                <td>{{x.role}}</td>
                                <td>{{x.username}}</td>
                                <td style="text-align: center;
                                padding: 0;">
                                  <button type="button" class="btn btn-light-blue" ng-click="vm.deleteanswer(x.id)">Xóa</button>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </ng-form>
                </uib-tab>
                <uib-tab index="2" heading="Danh sách phiên hỏi đáp">
                  <ng-form name="nestedForm">
                    <div class="form-group">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>ID phiên</th>
                                <th>Tiêu đề</th>
                                <th>Chủ đề</th>
                                <th>Mô tả</th>
                                <th>Người tạo</th>
                                <th>Ngày tạo</th>
                                <th>Email</th>
                                <th>Trạng thái</th>
                                <th>Số câu hỏi</th>
                                <th>Tool</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr ng-repeat="x in  vm.listS">
                                <td>{{x.id}}</td>
                                <td>{{x.title}}</td>
                                <td>{{x.topic}}</td>
                                <td>{{x.content}}</td>
                                <td>{{x.name}}</td>
                                <td>{{x.date}}</td>
                                <td >{{x.email}} </td>
                                <td>{{x.open}}</td>
                                <td>{{x.countQ}}</td>
                                <td style="text-align: center;
                                padding: 0;">
                                   <button type="button" style="display: block;" class="btn btn-light-blue" ng-if="x.open==1" ng-click="vm.closesec(x.id)">Đóng</button>
                                   <button type="button" style="display: block;" class="btn btn-light-blue" ng-if="x.open==0"  ng-click="vm.opensec(x.id)">Mở </button>
                                  <button type="button" style="display: block;" class="btn btn-light-blue" ng-click="vm.deletesec(x.id)">Xóa</button>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </ng-form>
                </uib-tab>
                <uib-tab index="3" heading="Danh sách cuộc khảo sát">
                  <ng-form name="nestedForm">
                    <div class="form-group">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>ID cuộc khảo sát</th>
                                <th>Người tạo</th>
                                <th>Phiên hỏi đáp</th>
                                <th>Tiêu đề</th>
                                <th>Mô tả</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Tool</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr ng-repeat="x in  vm.listSurvey">
                                <td>{{x.id}}</td>
                                <td>{{x.authName}}</td>
                                <td>{{x.sectitle}}</td>
                                <td>{{x.title}}</td>
                                <td>{{x.descreption}}</td>                    
                                <td>{{x.date}}</td>
                                <td>{{x.open}}</td>
                                <td style="text-align: center;
                                padding: 0;">
                                   <button type="button" style="display: block;" class="btn btn-light-blue" ng-if="x.open==1" ng-click="vm.closesur(x.id)">Đóng</button>
                                   <button type="button" style="display: block;" class="btn btn-light-blue" ng-if="x.open==0"  ng-click="vm.opensur(x.id)">Mở </button>
                                  <button type="button" style="display: block;" class="btn btn-light-blue" ng-click="vm.deletesur(x.id)">Xóa</button>
                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </ng-form>
                </uib-tab>
              </uib-tabset>
            </form>
          
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="admin/lib/vendor/jquery/jquery.min.js"></script>
  <script src="admin/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- Core plugin JavaScript-->
  <script src="admin/lib/vendor/jquery-easing/jquery.easing.min.js"></script>
  
  <!-- Custom scripts for all pages-->
  <script src="admin/lib/js/sb-admin-2.min.js"></script>
  
  <!-- Page level plugins -->
  <script src="admin/lib/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="admin/lib/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  
  <!-- Page level custom scripts -->
  <script src="admin/lib/js/demo/datatables-demo.js"></script>