<div class="modal_class">
  <div class="modal-header">
    <h3>Đặt câu hỏi</h3>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <p> Chủ đề của bạn là: {{vm.newquestion.chude}} </p>
    
            <label for="exampleFormControlSelect1">Chủ đề</label>
            <select class="form-control" id="exampleFormControlSelect1" ng-model="vm.newquestion.chude"  ng-options="chude for chude in chudes track by chude">
              <option>{{x}}</option>
              
            </select>
          </div>
          <!-- <div class="form-group">
            <label for="exampleFormControlSelect2">Chủ đề</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Câu hỏi của bạn</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ng-model="vm.newquestion.content"></textarea>
          </div>
        </form>
  </div>
  <div class="modal-footer">
    
    <button class="btn btn-warning" ng-click="vm.save()">Submit</button>
    <button class="btn btn-warning" ng-click="cancel()">Thoát</button>
  </div>
</div>