<ul uib-pagination="uib-pagination" total-items="vm.total" ng-model="vm.currentPage" boundary-link-numbers="true" max-size="10"
    items-per-page="vm.itemPerPage" boundary-links="true" next-text="{{'Next'|translate}}" previous-text="{{'Previous'|translate}}"
    first-text="{{'First'|translate}}" last-text="{{'Last'|translate}}" ng-change="vm.start()" class="pagination-sm pull-center">
</ul>
<!-- <ul uib-pagination="uib-pagination" total-items="vm.total" ng-model="vm.currentPage" boundary-link-numbers="true" max-size="10" items-per-page="vm.itemPerPage" boundary-links="true" next-text="Next" previous-text="Previous" first-text="First" last-text="Last"
    ng-change="vm.start()" class="pagination-sm pull-center">
</ul> -->